.rounded_corners {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 2%;
}
.over{
  position:absolute;
  width: 80%;
  height: 80%;

  top: 10%;
  left: 10%;
  overflow: hidden;
}
.darkpanel{
  background-color: rgb(78, 78, 78);
  color: antiquewhite
}
.lightpanel{
  background-color: antiquewhite;
  color: black;
}
.wrap{
  margin-left: auto; 
  margin-right: 0;
  float: right
}

.top_wrap{
  padding:1rem;
  display:flex;
  line-height: normal;
  flex-wrap: wrap;
}
.naming{
  width: 35%;
  overflow-x: hidden;
}
.big_naming{
  width: 50%;
  overflow-x: hidden;
}
.input{
  min-width: 15%;
  vertical-align:top;
  margin-right:1rem;  
  margin-left:1rem;
}
.select{
  width: 10rem;
  vertical-align: top;
  margin-right: 1rem;
  /* height: 100%; */
  /* line-height:; */
}
.description{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.btn{
  min-width: 10%;
  font-size: 1rem;
  text-overflow: ellipsis;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fade-in{
  0%{
    opacity: 0;
    transform: translateY(200px);
  }
  75%{
    opacity: 1;
    /* transform: translateY(-200px); */
  }
}
@keyframes fade-out{
  0%{
    opacity: 1;
    transform: translateY(0);
  }
  75%{
    opacity: 0;
    transform: translateY(200px);
  }
}


.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}


