<div class="p-3 text-bg-dark" th:fragment="header">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img width="40" height="32" src="https://www.svgrepo.com/show/184397/warehouse.svg"/>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">App</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>


            <div class="text-end">
                <form action="/login">
                    <button type="submit" class="btn btn-outline-light me-2">Login</button>
                </form>
            </div>
            <div class="text-end">
                <form action="/signup">
                    <button type="submit" class="btn btn-warning me-2">Signup</button>
                </form>
            </div>
        </div>
    </div>
</div>